body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1700px;
  margin: 2% auto;
  height: fit-content;
  padding: 20px;
  /* padding-bottom: 50px; */
  border-radius: 10px;
  background-color: #d1c7a1;
}

.deal-container {
  max-width: 1100px;
  justify-content: center;
  margin: 2% auto;
  height: 100%;
  padding: 20px;
  padding-bottom: 50px;
  border-radius: 10px;
  background-color: #ebeaea;
}
.deal-container .row {
  margin-bottom: 20px;
}
.usernames-row {
  display: flex;
  height: fit-content;
  width: auto;
  padding-right: 40px;
  align-items: center;
  margin-bottom: 20px;
}
.deal-username {
  background-color: white;
  border-radius: 10px;
  margin-left: 20px !important;
}
.deal-notes {
  background-color: white;
  border-radius: 10px;
  /* height: 100px; */
}
.category-cell {
  display: flex !important;
  justify-content: center;
}
.category-chip {
  margin-left: 3% !important;
  margin-right: 3% !important;
}
.header {
  /* padding: 10px; */
  margin-bottom: 20px;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #776a37;
}
.paper {
  height: 350px;
  width: 100%;
  overflow: auto;
  background-color: #f0ead0 !important;
  border-radius: 15px !important;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.command-links {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 9% !important;
}
.command-links div {
  width: 75%;
  display: flex;
}
.command-links .half-command {
  margin-bottom: 20px;
  margin-right: 5%;
  background-color: #505050;
  width: 70%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 8px;
}
.command-links .half-delete {
  margin-bottom: 20px;
  background-color: #bb5d5d;
  width: 30%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 8px;
}
.table-head {
  background-color: '#776a37' !important;
}
.command-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.title {
  margin-bottom: 5% !important;
}
.nav-link {
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 8px;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.nav-link:hover {
  background-color: #444;
  color: #eaeaea;
  font-weight: bold;
}

.content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  color: #444;
}

.error-code {
  font-size: 72px;
  font-weight: bold;
  margin-bottom: 16px;
}

.error-message {
  font-size: 32px;
  margin-bottom: 16px;
}

.suggestion {
  text-align: center;
  line-height: 1.5;
}

.root {
  margin-top: 40px;
  width: 'wrap-content' !important;
  padding-top: 100px;
  padding-bottom: 200px;
  background-color: '#d1c7a1' !important;
  border-radius: 10px;
}
.form {
  width: '100%';
  margin-top: 20px;
}
.textField {
  background-color: 'white';
  border-radius: 10px;
}
.submit {
  margin: 30px 0px 20px;
}
